{
  "semi": true, 
  "singleQuote": true, 
  "jsxSingleQuote": true, 
  "useTabs": false ,
  "tabWidth": 2, 
  "htmlWhitespaceSensitivity": "css", 
  "bracketSameLine": true, 
  "bracketSpacing": true, 
  "singleAttributePerLine": true, 
  "endOfLine": "auto", 
  "trailingComma": "all", 
  "arrowParens": "always" 
}